{
    admin localhost:2019
}

# ----- client -----
https://tower-mud.unlrealities.ca {
    encode zstd gzip

    handle /ws* {
        reverse_proxy mud-gateway:8443 {
            header_up Host {host}
            header_up X-Forwarded-Proto https
        }
    }

    handle {
        reverse_proxy mud-client:3001 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }
}

# ----- admin -----
https://tower-admin.unlrealities.ca {
    encode zstd gzip

    handle {
        reverse_proxy mud-admin:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }
}
